.contacts{
    position: relative;
    overflow: hidden;
    &__inner{
        min-height: 400px;
    }
    &__content{
        align-items: flex-end;
    }
    &__map{
        position: relative;
        margin-left: 60px;
        min-height: 400px;
    }
    a.policy{
        color: #000;
    }
    &__heading{
        font-size: 52px;
        margin-bottom: 20px;
    }
    &__link,
    &__text{
        font-size: 21px;
        display: block;
        color: #fff;
        padding-left: 40px;
        position: relative;
        &:hover{
            color: $pink;
        }
        &:before{
            content: '';
            width: 18px;
            height: 18px;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    &__link{
        margin-bottom: 30px;
    }
    &__phone{
        font-size: 24px;
        &:before{
            content: url('../icons/call.svg');
        }
    }
    &__mail{
        &:before{
            content: url('../icons/mail.svg');
        }
    }
    &__address{
        &:before{
            content: url('../icons/mark.svg');
        }
    }
    &__info{
        color: #fff;
        background-color: #747B96;
        border-radius: 10px;
        padding: 30px;
        max-width: 350px;
        max-height: 330px;    
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 2;
    }
    @media (max-width: 1200px){
        &__info{
            max-width: 280px;
            max-height: 210px;
        }
        &__heading{
            margin-bottom: 20px;
            font-size: 22px;
        }
        &__link{
            padding-left: 35px;
            margin-bottom: 15px;
            font-size: 16px;
        }
        &__phone{
            font-size: 19px;
        }
        address{
            font-size: 16px;
        }
    }
    @media (max-width: 992px){
        &__map{
            margin-left: -15px;
            margin-right: -15px;
        }
        &__info{
            top: auto;
            bottom: 47px;
        }
    }
}

.inline-form{
    position: relative;
    padding-left: 20px;
    &__content{
        padding: 85px 0 100px;
    }
    &__title{
        margin-bottom: 60px;
    }
    &__subtitle{
        margin-bottom: 30px;
    }
    &__btn{
        margin: 40px 0;
        font-size: 16px;
    }
    @media (max-width: 992px){
        &__title{
            margin-bottom: 30px;
        }
        input:not([type="submit"]){
            margin-left: 0;
        }
        input[type="submit"]{
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 15px;
        }
        &__btn{
            font-size: 19px;
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
    @media (max-width: 768px){
        &__content{
            padding: 45px 0 50px;
        }
        &__btn{
            margin-bottom: 20px;
        }
    }
}

.block{
    &__content{
        max-width: 660px;
        width: 100%;
        height: 100%;
        padding: 70px 0 90px;
    }
    @media (max-width: 1350px){
        &__content{
            max-width: 570px;
            padding: 70px 0;
        }
    }
    @media (max-width: 992px){
        &__content{
            max-width: 720px;
            padding: 40px 0 50px;
            margin: 0 auto;
        }
    }
    @media (max-width: 768px){
        &__content{
            max-width: 540px;
        }
    }
    @media (max-width: 576px){
        &__content{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

#YaMaps{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.ymaps-2-1-79-ground-pane {
    filter: grayscale(100%)
}