.guarantee{
    &__inner{
        min-height: 400px;
    }
    &__title{
        margin-bottom: 40px;
        &--right{
            margin-bottom: 70px;
        }
    }
    &__half{
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: -15px;
        margin-right: -15px;
    }
    &__left{
        background-color: #EFEFF0;
        padding-right: 40px;
        padding-left: 40px;
        align-items: flex-end;
    }
    &__right{
        background-color: #747B96;
        color: #fff;
        padding-left: 100px;
        align-items: flex-start;
    }
    &__content{
        max-width: 660px;
        width: 100%;
        height: 100%;
        padding: 70px 0 90px;
    }
    @media (max-width: 1350px){
        &__content{
            max-width: 570px;
            padding: 70px 0;
        }
        &__right{
            padding-left: 50px;
        }
    }
    @media (max-width: 992px){
        &__content{
            max-width: 720px;
            padding: 40px 0 50px;
            margin: 0 auto;
        }
        &__left{
            padding-right: 15px;
            padding-left: 15px;
        }
        &__right{
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    @media (max-width: 768px){
        &__content{
            max-width: 540px;
        }
        &__title{
            margin-bottom: 20px;
            &--right{
                margin-bottom: 40px;
            }
        }
    }
    @media (max-width: 576px){
        &__content{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.block{
    &__half{
        height: 100%;
        margin-left: -15px;
        margin-right: -15px;
        display: flex;
        flex-direction: column;
    }
}

.brand{
    max-width: 457px;
    display: flex;
    justify-content: space-between;
    margin: 30px -15px;
    padding: 30px 15px;
    transform: scale(1);
    transition: transform 0.3s;
    border-radius: 10px;
    &:hover{
        transform: scale(1.1);
        box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.1);
    }
    &:last-child{
        margin-bottom: 0;
    }
    &__img{
        width: 137px;
        height: 137px;
        flex-shrink: 0;
        img{
            width: 100%;
        }
    }
    &__text{
        margin-left: 3rem;
        font-size: 18px;
    }

    @media (max-width: 992px){
        &__text{
            margin-top: 20px;
            font-size: 15px;
        }
    }
    @media (max-width: 576px){
        margin: 40px 0;
    }
    @media (max-width: 480px){
        flex-direction: column;
        &__text{
            margin-left: 0;
        }
    }
}